tqdm
matplotlib
numpy
pandas
scikit-learn
scipy
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118mne-icalabel==0.9.0
